<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css"/>
    <title>Gestor Gastos</title>
  </head>
  <body>
    <form>
        <!--Esta parte es donde recogeremos los datos-->
        <label>Descripción<input type="text" name="descripcion" /></label>
        <br><br>
        <label>Precio<input type="number" name="precio" /></label>
        <br><br>
        <button type="button" name="enviar">Enviar datos</button>
        <br><br>
    </form>
       <!--Esta parte es donde mostraremos los datos-->
        <h3>MIS GASTOS</h3>
        <p>Lista de gastos</p>
        <ul>
            <li>Ejemplo gasto</li>
        </ul>
        <br>
        <p>Total gastos</p>
  </body>
</html>
